div.row {
  height: auto; }

.range-datepicker {
  padding: 15px; }
  .range-datepicker__selected-date {
    color: #333;
    margin-bottom: 20px; }
  .range-datepicker__label {
    display: block;
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 5px; }
  .range-datepicker__date {
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 600;
    color: #333333;
    border-bottom: 1px solid #333;
    line-height: 22px;
    min-height: 22px;
    min-width: 80px; }
  .range-datepicker__datepicker-two .period.active button {
    border-radius: 0px;
    background-color: #f1f1f1;
    padding: 0px;
    border: 0px; }
    .range-datepicker__datepicker-two .period.active button.active {
      color: #fff;
      background: #ec7404;
      border: 0px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px; }
  .range-datepicker__datepicker-one .period.active button {
    border-radius: 0px;
    background-color: #f1f1f1;
    padding: 0px;
    border: 0px; }
    .range-datepicker__datepicker-one .period.active button.active {
      color: #fff;
      background: #ec7404;
      border: 0px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px; }
  .range-datepicker .uib-monthpicker {
    outline: none; }
  .range-datepicker multiselect {
    display: block; }
  .range-datepicker multiselect > .btn-group {
    min-width: 180px; }
  .range-datepicker multiselect .btn {
    width: 100%;
    background-color: #FFF; }
  .range-datepicker multiselect .btn.has-error {
    border: 1px solid #a94442 !important;
    color: #db524b; }
  .range-datepicker multiselect .dropdown-menu {
    max-height: 300px;
    min-width: 200px;
    overflow-y: auto; }
  .range-datepicker multiselect .dropdown-menu .filter > input {
    width: 99%; }
  .range-datepicker multiselect .dropdown-menu .filter .glyphicon {
    cursor: pointer;
    pointer-events: all; }
  .range-datepicker multiselect .dropdown-menu {
    width: 100%;
    box-sizing: border-box;
    padding: 2px; }
  .range-datepicker multiselect > .btn-group > button {
    padding-right: 20px; }
  .range-datepicker multiselect > .btn-group > button > .caret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid black;
    right: 5px;
    top: 45%;
    position: absolute; }
  .range-datepicker multiselect .dropdown-menu > li > a {
    padding: 3px 10px;
    cursor: pointer; }
  .range-datepicker multiselect .dropdown-menu > li > a i {
    margin-right: 4px; }
  .range-datepicker .glyphicon-none:before {
    content: "\e013";
    color: transparent !important; }
  .range-datepicker .period.active button {
    border-radius: 0px;
    background-color: #f1f1f1;
    padding: 0px;
    border: 0px; }
    .range-datepicker .period.active button.active {
      color: #fff;
      background: #ec7404;
      border: 0px; }
  .range-datepicker table {
    margin-bottom: 0px; }
    .range-datepicker table thead {
      background: #f1f1f1;
      overflow: hidden;
      border-right: 1px solid #f1f1f1; }
      .range-datepicker table thead tr {
        height: 50px; }
        .range-datepicker table thead tr th {
          height: 50px;
          padding: 0px;
          border: 0px;
          vertical-align: middle; }
          .range-datepicker table thead tr th button {
            height: 40px;
            background-color: transparent; }
            .range-datepicker table thead tr th button.uib-left {
              background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5IiB3aWR0aD0iMzJweCIgaGVpZ2h0PSIzMnB4Ij4KICA8Zz4KICAgIDxwYXRoIGQ9Im04OC42LDEyMS4zYzAuOCwwLjggMS44LDEuMiAyLjksMS4yczIuMS0wLjQgMi45LTEuMmMxLjYtMS42IDEuNi00LjIgMC01LjhsLTUxLTUxIDUxLTUxYzEuNi0xLjYgMS42LTQuMiAwLTUuOHMtNC4yLTEuNi01LjgsMGwtNTQsNTMuOWMtMS42LDEuNi0xLjYsNC4yIDAsNS44bDU0LDUzLjl6IiBmaWxsPSIjMDAwMDAwIi8+CiAgPC9nPgo8L3N2Zz4K);
              background-position: 20% center;
              background-size: 17px;
              background-repeat: no-repeat;
              box-shadow: none; }
            .range-datepicker table thead tr th button.uib-right {
              background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5IiB3aWR0aD0iMzJweCIgaGVpZ2h0PSIzMnB4Ij4KICA8Zz4KICAgIDxwYXRoIGQ9Im00MC40LDEyMS4zYy0wLjgsMC44LTEuOCwxLjItMi45LDEuMnMtMi4xLTAuNC0yLjktMS4yYy0xLjYtMS42LTEuNi00LjIgMC01LjhsNTEtNTEtNTEtNTFjLTEuNi0xLjYtMS42LTQuMiAwLTUuOCAxLjYtMS42IDQuMi0xLjYgNS44LDBsNTMuOSw1My45YzEuNiwxLjYgMS42LDQuMiAwLDUuOGwtNTMuOSw1My45eiIgZmlsbD0iIzAwMDAwMCIvPgogIDwvZz4KPC9zdmc+Cg==);
              background-position: 80% center;
              background-size: 17px;
              background-repeat: no-repeat;
              box-shadow: none; }
    .range-datepicker table tbody {
      border: 1px solid #f1f1f1;
      overflow: hidden; }
      .range-datepicker table tbody tr:first-child td button {
        margin-top: 20px; }
      .range-datepicker table tbody tr td {
        width: 25%;
        border: 0px;
        padding: 0px;
        vertical-align: middle; }
        .range-datepicker table tbody tr td button {
          vertical-align: middle;
          height: 35px;
          border: 0px;
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 0.8rem;
          font-weight: 600;
          color: #333333; }
          .range-datepicker table tbody tr td button .text-info {
            color: inherit !important; }
          .range-datepicker table tbody tr td button:hover {
            background: #f1f1f1; }
          .range-datepicker table tbody tr td button:disabled {
            opacity: 0.3; }
  .range-datepicker .row {
    height: auto; }

/*# sourceMappingURL=date-range-picker.css.map */
